table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background : none;
}

#line{
  width: 100%;
  border-top:1px solid black;
}

thead,table{
  background-color: white;
}
.w-bkd{
  background-color: #3366cc;
}
