/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */
.col {
	/*border-radius: 5px;*/
	background: #EEEEEE; padding:1em 0; text-align:center;}
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
	min-width: 200px;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
	}
}

/*  GRID OF FOUR   ============================================================================= */


.span_4_of_4 {
	width: 100%;
}

.span_3_of_4 {
	width: 74.6%;
}

.span_2_of_4 {
	width: 49.2%;
}

.span_1_of_4 {
	width: 23.8%;
}


/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 48.65%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_4_of_4 {
		width: 100%;
	}
	.span_3_of_4 {
		width: 100%;
	}
	.span_2_of_4 {
		width: 100%;
	}
	.span_1_of_4 {
		width: 100%;
	}
}

/*------ DASHBOARD HEAD ------*/
#col1{
  background-color: #3366cc;
}
#col2{
  /*background-color: #19246D;
  color:white;*/
  background-color: #3366cc;
}
#col3{
  background-color: #3366cc;
}
#col4{
  background-color: #3366cc;
}

.bar{
	width: 100%;
	background-color: black;
	padding: 5px;
	margin-left: -10px;
	background-color: #222222;
	color:white;
}



/* INSERT STYLES HERE*/
.dash-header-cont{
  font-size: 25px;
  text-align: right;
  color: white;
}

.dash-header{
  font-size: 18px;
  text-align:left;

  margin-bottom: -10px;
  padding-left: 10px;
  padding-right: 10px;
}
.dash-header b{
  color: white;
}
.table-container{
  margin-top:-5px;
  margin-bottom: 20px;
  /*border-radius: 5px;*/
  background-color: #EEEEEE;
  padding:10px;
}
.table-header{
  margin-top:10px;
  background-color: #231F20;
  padding:10px;
  color:white;
  border-bottom: 1px solid black;
}
.btnhide{
  margin-top: -15px;
  margin-right: 5px;
  float:right;
  color:white;
  cursor: pointer;
  font-size: 30px;
}
.btnhide:hover{
  font-weight: bold;
}
#table-1,
#table-2,
#table-3,
#table-4{
  /*display: none;*/
}


/*---------------------------------------  DATA TABLE  --------------------------------*/
#view{
	cursor: pointer;
}
#view:hover{
	color: blue;
}
.dataTables_paginate{
	font-size: 12px;
}
.chart{
	height: 100%;
	margin-top: -14px;
	margin-bottom: 20px;
}
#charttitle{
	background-color: #222222;
	color: white;
}
